/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Inter", sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: #0f172a;
  color: #c4d0ec;
  scroll-behavior: smooth;
}

::selection {
  background-color: #54d3d4;
  color: #144e5f;
}

.glow-circle {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  top: -100px;
  left: -100px;
  z-index: 0;
  /* box-shadow: 0 0 290px 250px #091942; */
  box-shadow: 0 0 290px 250px #00174ffd;
  /* box-shadow: 0 0 290px 250px #102863;   original */
}

.tech-stack {
  text-align: center;
}

.progress-bar {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;
}
